
{% load static %}
	
<!DOCTYPE html>
<html>
<head>
	<title>Aadit Ranjan</title>

	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/aaditpfp.jpg' %}" >
					<hr>
					<h4>Hello, I'm Aadit!</h4>
					<p>Thanks for visiting my portfolio website! I'm a Computer Science major in my final semester at the Pennsylvania State University. A proactive problem solver, my hobbies include coding, cooking, listening to music, learning languages, playing video games, reading and working out.</p>
				</div>
			</div>

            <div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h5><b><u>Socials I use:</b></u></h5><br>
					<ul class="social-links">
						<li><a href="https://www.linkedin.com/in/aadit-ranjan-218b81203/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
                        <li><a href="https://github.com/ckwatt11"><img class="social" src="{% static 'images/github.png' %}"></a></li>
					</ul><hr>
					<p>I am currently on the hunt for an entry-level Software Engineering/Web Development role for Summer 2023. Through a combination of personal projects, relevant coursework and a bit of work experience, I have been broadening and improving upon my skillset.</p>
				</div>
			</div>
		</div>
        <br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100" >
					<h5><b>Work Experience</b></h5>
					<hr>
					<img id="banner" src="{% static 'images/arcbanner.png' %}">
					<p><b><i>SWE Intern at Arcetyp LLC</i></b></p>
					<ul style="margin-left: 2px;">
						<li>Contributed as an intern to support a technology focused US Government contracting consulting services firm</li>
						<li>Supported assessment of automation technologies to corporate systems and processes </li>
						<li>Collaborated with, assessed and discussed use of Kubernetes and related technologies with clients in terms of fit for platform use </li>
					</ul>	
					</div>
			</div>
			<br>
			<div class="col-md-6">
				<div class="card card-body h-80">
					<h5><b>Personal Projects</b> </h5>
					<hr>
					<ul style="margin-left: 1px;">
						<li><a href="https://github.com/ckwatt11/cli-weather-app"><b> CLI weather app:</b></a> Crafted a command-line weather app using Python and REST APIs provided by <a href="https://openweathermap.org/api">OpenWeather</a></li>
						<li>Built a <a href="https://github.com/ckwatt11/webrtc-chat">WebRTC chat application</a> with JavaScript and APIs provided by WebRTC. </li>
						<li>Programmed a <a href="https://github.com/ckwatt11/SortingVisualizer">Sorting Algorithm Visualizer</a> - an app that shows how the most popular sorting algorithms work, using JavaScript, React and HTML </li>
						<li>Developed a Simple <a href="https://github.com/ckwatt11/mongodb-crud-app">Content Management System</a>(CMS) with JavaScript, MongoDB, Express and the chai testing library </li>
						<li>This portfolio website, implemented with Python(Django), HTML and CSS. </li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-65">
					<h5><b>My skills and competencies</b></h5>
					<hr>
					<ul>
						<li><b>Programming Languages:</b> C++, Java, C, Python, JavaScript, VBA, Bash, SQL, HTML5, Assembly Language </li>
						<li><b>Technologies/Software:</b> Django, Node.js, pandas, scikit-learn, Git, Bash, Docker, MongoDB,
							ReactJS, Postman </li>
						<li><b>Soft Skills:</b> Critical Thinking, Adaptability, Collaboration, Diligence, Professionalism (and a healthy willingness to learn!) </li>		
						<li><b>Spoken languages:</b> English(Native), Hindi(Native), Mandarin(currently a student)</li> 
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5><b>Education</b></h5> 
					<hr>
					
					<p align="right"> <b><i><img id="banner" src="{% static 'images/psubanner.jpg' %}"> <span style = "font-size: 10px"></span>The Pennsylvania State University <br line-height:2px>Aug 2018 - May 2023</i></b></span></p>
                    <ul style="margin-left: 2px;">
						<li> Algorithms and Data Structures</li>
						<li> Operating systems</li>
						<li> Introduction to Software Design and Methodology</li>
						<ul style="margin-left: 10px;"> 
							<li> Delivered an Enterprise Indexing Application for an industry client as part of a student development
								   team</li>
						</ul>
						<li> Machine Learning and Algorithmic AI</li>
						<li> Systems Programming in C</li>
						<ul style="margin-left: 10px;">
							<li> Implemented a JBOD storage architecture using the TCP/IP protocol with caching support</li>
						</ul>	
						<li> OOP with Web Development in Java</li>
						<ul style="margin-left: 10px;">
							<li> Wrote a CRUD Room Scheduling Application using the Apache Derby mySQL RDBMS </li>
						</ul>
						<li> Fundamentals of Digital Design</li>
						<ul style="margin-left: 19px;">
							<li> Modeled a working MIPS CPU to simulate low-level computer operations in Assembly and Verilog</li>
						</ul>
					</ul>	
					
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>