html{
	background-image: url("nl.jpg")!important;
}

body{
	
	background-image: url("nl.jpg")!important;
	
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: disc;

}


.social-links ul, li{
	list-style-position: inside;
	margin-left: 1em;
    text-align: initial;
	display: list-item;
	padding-left: 3px;
	
}

.social{
	width: 35px;
	height: 35px;
}

#banner{
	width: 100%;
	height: 100px;
	white-space: nowrap;
	display: inline-block;
	margin-right: 50%;
}